.blue-banner {
  background-color: #4D6CFA;
  padding: 12vh 80px;
  position: relative;
}

.blue-banner img {
  height: 10vh;
}

.blue-banner h2 {
  margin-top: 5vh;
  color: white;
  opacity: 0.8;
  width: 40vw;
  font-size: 25px;
  font-weight: 400;
}
