.button-pink {
  background-color: #9E1946;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  padding: 8px 15px;
  transition: 0.2s;
  display: block;
  width: fit-content;
}

.button-pink:hover {
  background-color: #710627;
  color: white;
}
